#net-action {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #1a1a2eef;
    padding: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

#netw-set-and-write-btn {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#netw-set-and-write-btn:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}

#netw-set-and-reboot-btn {
    background-color: #0078ff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

#netw-set-and-reboot-btn:hover {
    background: linear-gradient(45deg, #00b7eb, #007bff);
    box-shadow: 0 0 15px rgba(0, 183, 255, 0.6);
}

#net-indicator {
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: transparent;
}

/* Button container for alignment */
#net-action form {
    display: inline-block;
}

/* საერთო კონტეინერი თითოეული ქსელის ბლოკისთვის */
#net-lan-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 12px;
    padding: 10px;
}

/* ფორმა მარცხნივ */
.net-set-from {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 12px;
}

.net-set-from:hover {
    background-color: #0011ff27;
}

.net-set-from label {
    font-weight: 600;
    color: #000000;
    display: block;
    margin-bottom: 4px;
}

.net-input {
    width: 50%;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    transition: border-color 0.2s ease;
}

.net-input:focus {
    border-color: #0078ff;
    outline: none;
}

/* ღილაკი */
.net-set-btn {
    margin-top: 10px;
    align-self: flex-start;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    font-weight: 600;
    cursor: pointer;
}

.net-set-btn:hover {
    background-color: #0550a0;
}

/* ინდიკატორების კონტეინერი მარჯვნივ */
.net-indic-container {
    display: flex;
    align-items: end;
    gap: 20px;
    margin-left: auto;
}

/* ინდიკატორები */
.net-indic-lan,
.net-indic-internet {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.net-active {
    background-color: #00ff08;
}

.net-inactive {
    background-color: #753939;
}